# Based on the breakfast example grammar,
# from the excellent book "Crafting Interpreters" by Robert Nystrom
# https://craftinginterpreters.com

breakfast:
    | protein "with" breakfast "on the side"
    | protein
    | bread
    ;

protein:
    | crispiness "crispy" "bacon"
    | "sausage"
    | cooked "eggs"
    ;

crispiness:
    | "really"*
    ;

cooked:
    | "scrambled"
    | "poached"
    | "fried"
    ;

bread:
    | "toast"
    | "biscuits"
    | "English muffin"
    ;
