breakfast:
    | protein "with" breakfast "on the side"
    | protein
    | bread
    ;

protein:
    | crispiness "crispy" "bacon"
    | "sausage"
    | cooked "eggs"
    ;

crispiness:
    | "really"*
    ;

cooked:
    | "scrambled"
    | "poached"
    | "fried"
    ;

bread:
    | "toast"
    | "biscuits"
    | "English muffin"
    ;
