code:
    | tls+
    ;

tls:
    | macro_decl NL
    | func_decl NL
    | typedef NL
    ;

macro_decl:
    | '#define' CAPS_IDENT ' ' expr
    | '#define' CAPS_IDENT '(' (IDENT (',' IDENT)*) ')' ' ' expr
    | '#include' ('<' IDENT '.h>' | '"' IDENT '.h"')
    | '#include <stdio.h>'
    | '#include <stdbool.h>'
    ;

expr:
    | stmt_expr
    | binop
    | unop
    | NUMBER
    | INT
    | IDENT
    | CAPS_IDENT
    | '(' expr ')'
    ;

assign:
    | IDENT '=' expr
    ;

binop:
    | expr binop_op expr
    | IDENT '.' IDENT
    | IDENT '->' IDENT
    ;

binop_op:
    | '+'
    | '-'
    | '*'
    | '/'
    | '%'
    | '<<'
    | '>>'
    | '&'
    | '|'
    | '^'
    | '||'
    | '&&'
    | '>'
    | '>='
    | '<'
    | '<='
    | '=='
    ;

unop:
    | unop_left_op expr
    | expr unop_right_op
    ;

unop_left_op:
    | '-'
    | '!'
    | '~'
    | '*'
    | '&'
    | '(' type ')'
    ;

unop_right_op:
    ;

func_decl:
    | func_specifier? type IDENT '(' (type IDENT (',' type IDENT)*)? ')' block
    ;

block:
    | '{' stmt stmt+ '}'
    ;

stmt:
    | init_var NL
    | if NL
    | loops NL
    | stmt_expr ';' NL
    | switch NL
    | 'return' expr ';' NL
    ;

stmt_expr:
    | assign
    | IDENT '(' (expr (',' expr)*)? ')'
    ;

init_var:
    | var_specifier? type IDENT '=' expr ';'
    | var_specifier? type IDENT ';'
    ;

if:
    | 'if' '(' expr ')' block else?
    ;

else:
    | 'else' if
    | 'else' block
    ;

loops:
    | 'while' '(' expr ')' block
    ;

switch:
    | 'switch' '(' expr ')' '{' case '}'
    ;

case:
    | 'default:' NL stmt NL
    | 'case' INT ':' NL stmt 'break;' NL case?
    ;

type:
    | 'int'
    | 'float'
    | 'long'
    | 'double'
    | 'size_t'
    | 'bool'
    | type '*'
    | TYPE_IDENT
    ;

typedef:
    | 'typedef' struct_type TYPE_IDENT ';' NL
    | 'typedef' enum_type TYPE_IDENT ';' NL
    | 'typedef' union_type TYPE_IDENT ';' NL
    ;

struct_type:
    | 'struct' '{' NL (type IDENT ';' NL)+ '}'
    ;

enum_type:
    | 'enum' '{' NL (CAPS_IDENT ',' NL)+ '}'
    ;

union_type:
    | 'union' '{' NL (type IDENT ';' NL)+ '}'
    ;

var_specifier:
    | 'const'
    | 'static'
    | 'volatile'
    ;

func_specifier:
    | 'const'
    | 'inline'
    | 'extern'
    ;

